/* estilos generalistas da página */

body{
    animation-name: branco;
    animation-duration: 2s;
}

/* container principal dos cards de imoveis */

#imoveis {
    margin: 110px auto 110px auto ;
    background: linear-gradient(to bottom, rgba(218,234,246,0.9), #2D4059);
}

/*estilos das animacoes*/

#aniblock {
    width: 100%;
}

#animate{
    width: 100%;
    height: 50px;
    opacity: 1;
    background: linear-gradient(to right, rgb(179, 255, 171), rgb(18, 255, 247));
    -webkit-animation-name: entrada;
    animation-name: entrada;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    display: flex;
    margin-bottom: 10px;
}

#animate h2 {
    margin: auto;
    color: #09274b;
    font-weight: 500;
}

/* Animacoes de entrada */

@keyframes branco{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

@keyframes entrada {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 0.2;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
      width: 45%;
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 100%;
    }
}