/* estilos generalistas da página */

*{
    margin:0;
    padding:0;
}

body{
    background: url(../img/background.jpg ) no-repeat top center #2D4059;
    background-blend-mode: screen;
    background-size: cover;
    color: #daeaf6;
}

body a{
    text-decoration: none;
    color: #daeaf6;
}

/* container principal do formulario */

#formulario{
    border-radius: 5px;
    margin: 10vh auto 20vh auto;
    width: 1000px;
    background: linear-gradient(to bottom, rgba(5, 117, 230, 0.7), #2D4059);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 50px 70px;
    grid-template-areas:
    "formheader formheader"
    "nome sobrenome"
    "entrada sexo"
    "senha email"
    "csenha confemail"
    "msg msg"
    "check check"
    "botao botao";
    height:975px;
}

/* header do formulario */

.formheader{
    grid-area: formheader;
    text-align: center;
    align-self: end;
    background-color: #2D4059;
    padding: 10px 0;
}

/* containers dos campos do formulário */

.frm1, .frm2{
    align-self: center;
    margin: auto 40px;
    grid-area: frm1;
}

/* campos do formulario */

#nome{
    grid-area: nome;
}
#sobrenome{
    grid-area: sobrenome;
}
#email{
    grid-area: email
}
#confemail{
    grid-area: confemail;
}
#logn{
    grid-area: entrada;
}
#senha{
    grid-area: senha;
}
#csenha{
    grid-area: csenha;
}
#sexo{
    grid-area: sexo;
    border-radius: 5px;
    padding: 10px;
    background-color: #2D4059;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#msg{
    grid-area: msg;
    align-self: center;
    justify-self: center;
}

#msg textarea {
    margin-top: 10px;
    border: 1px solid #daeaf6;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#check{
    grid-area: check;
    align-self: center;
    margin-left: 40px;
}
#bot{
    display: flex;
    grid-area: botao;
    margin-left: 40px;
}

#bot div {
    border-radius: 5px;
    padding: 15px;
    background-color:#ff008e;
    margin-bottom: 20px;
}

/* estilos generalistas dos campos do formulario */

input, textarea {
    padding: 3px;
}

.controle{
    display: block;
    border: 1px solid #daeaf6;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Responsividade do formulario de cadastro */

@media (max-width: 1005px) {
    #formulario {
        width: 100%;
        border-radius: 0;    
    }
}

@media screen and (max-width: 800px) {
    .frm1, .frm2, #bot, #msg label{
        margin: auto 20px;
    }
}

@media screen and (max-width: 500px) {
    .frm1, .frm2, #check{
        margin: auto 10px;
    }

    .controle {
        width: 98%;
    }
}

@media(max-width:425px){
    #formulario{
        grid-template-columns: auto;
        grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px 70px;
        grid-template-areas:
        "frase"
        "nome"
        "sobrenome"
        "sexo"
        "entrada"
        "senha "
        "csenha"
        "email "
        "confemail"
        "msg"
        "check"
        "botao";
        height: 1200px;
    }

    #sexo {
        margin: 20px;
    }

    #msg, .frm1, .frm2 {
        margin-top: 20px;
    }

    #msg textarea {
        width: 90%;
        margin: 10px 10px;
    }
}
