/*----Configuraçoes globais do container*/

body{
    background-image:none;
    background: linear-gradient(135deg, #e66465, #9198e5);
    }

.menu_principal ul ul li a{
        background-color: rgb(255,82,37);
}
.menu_principal ul ul li a:hover{
    background-color: #ffb9a7;
}
.menu_principal ul ul li{
    float: none;
    border-bottom: 2px solid #FFFF;
}

section{
    margin: 30px auto;
    height: auto;
    width: 95%;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 0.5fr;
    grid-template-areas:
    "pt1 pos"
    "pt2 pt2"
    "form form"
    ;
    background-color: rgba(214,219,223,0.7);
}

@media(max-width:600px){
   .menu{
    visibility: hidden;
    }
    .menu_principal ul li a label{
        font-size: 25px;
    }
    .menu_principal a{
        padding-top: 5px;
    }
}

@media(max-width:750px){
    section{
        grid-template-columns: 1fr;
        grid-template-rows: 2.1fr 2fr 1fr;
        grid-template-areas: 
        "pt1"
        "pos"
        "pt2"
        "form"
        ;
    }
}
#form{
    display: grid;
    grid-area: form;
    background-color: rgba(166,166,237,0.5) ;
    width: 320px;
    margin: 0 auto 5% auto;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "nome email"
    "mensagem mensagem"
    "botao botao";
    border-style: solid;
    border-color: rgb(92, 92, 92);
    border-width: 4px;
}
.header{
    text-align: center;
    grid-area: header;
    height: 60px;
    margin-top: 20px;
}
.nome{
    grid-area: nome;
    width: auto;
    margin-left: 10px;
}
.nome input{
    width: 135px;
    border-style: none none solid none;
    border-color: #ccc;
    border-width: 0 0 2px 0;
}
.email{
    grid-area: email;
    margin-left: 10px;
}
.email input{
    width: 135px;
    border-style: none none solid none;
    border-color: #ccc;
    border-width: 0 0 2px 0;
}
.mensagem{
    grid-area: mensagem;
    padding: 10px;
}
.bot{
    grid-area: botao;
}
.botao {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.botao:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.botao:active {
	position:relative;
	top:1px;
}
#pos{
    grid-area: pos;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pos iframe{
    width: 500px;
    height: 600px;
}
@media(max-width:1000px){
    #pos iframe{
        width: 300px;
        height: 600px;
    }
}
@media(max-width:750px){
    #pos iframe{
        width: 500px;
    }
}
@media(max-width:550px){
    #pos iframe{
        width:400px;
    }
}
@media(max-width:420px){
    #pos iframe{
        width:300px;
    }
}
#pt1{
    grid-area: pt1;
}
#pt2{
    grid-area: pt2;
    text-align: center;
}

#pt2 h1{
    margin-top: 5%;
}
/*----Configuraçoes dos containers internos----*/

#pt2{
    margin: 0 auto;
    display: grid;
    width: 700px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    grid-template-areas:
    "msg msg msg msg"
    "face inst link twtt"
}
@media(max-width: 750px){
    #pt2{
        width: 500px;
    }
}
@media(max-width:600px){
    #pt2{
        width: 400px;
        margin-bottom: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas:
        "msg msg"
        "face inst"
        "link twtt";
    }
}
@media(max-width:420px){
    #pt2{
        width: 300px;
    }
}
#msg{
    grid-area: msg;
}
#face{
    grid-area: face;
}
#inst{
    grid-area: inst;
}
#link{
    grid-area: link
}
#twtt{
    grid-area: twtt;
}
section div{
    width: 100%;
    height: 100%;
    background-color:rgba(1,1,1,0.0);
}
section div h1{
    margin-top: 30px;
    font-size: 30px;
    padding-left: 20px;
}
section div:hover{
    box-shadow: none;
}
section #pt1 p,#pt2 p{
    margin-left: 80px;
}
@media(max-width:450px){
    section #pt1 p,#pt2 p{
        margin-left: 20px;
    }
}
.fa-phone{
    color: #1E9EEC;
}
.fa-whatsapp{
    color: #25d366;
}
.fab, .fas{    
    padding: 20px;
    font-size: 40px;
}

.fa-facebook-square{
    margin-left: 20px;
}
@media(max-width: 450px){
    #pt2 a{
        display: inline-block;
    }
    #pt2{
        text-align: center;
    }
    .fa-facebook-square{
        margin-left: 0px;
    }
}

section #pt1 span{
    font-size: 26px;
    font-weight: 700;
    color: #ff5225
}
section div a{
    background-color: rgba(1,1,1,0.0);
    margin: 10px;
    padding: 0px;
}
section div a:hover{
    background-color: rgba(1,1,1,0.0);
}


/*----Animação----*/


#pt2 a i:hover{
    color:white;
    animation-name: redes;
    animation-duration: 1s;
}
@keyframes redes{
    from {background-color: aliceblue;
            border-radius: 5%;
            color:black;}
    to {background-color: #ff5225;
            border-radius: 50%;
            color: aliceblue;}
}
footer{
    width: 100%;
}
.menu_principal{
    width: 100%;
}