/* classe principal das informacoes */

.mainblock {
    width: 1000px;
    border-radius: 5px;
    background: rgba(218,234,246,0.9);
    color: #05172d;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
}

/* divisoes dos blocos de informação */

#leftside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
}

#rightside {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#bottonside {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

/* campos do leftside */

#numberblock h3{
    margin: auto;
}

#numberblock {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#phone, #zap, #email {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
}


#phone ul, #zap ul, #email ul {
    margin: 0 auto auto auto;
    list-style-type: none;
}

#phone ul li, #zap ul li, #email ul li {
    margin-top: 5px;
}

i {
    font-size: 24px;
    padding-right: 5px;
}

/* campos do rightside */

#local {
    margin-top: 40px;
    display: flex;
}

#local iframe {
    margin: 0 auto;
    height: 400px;
}

/* campos do bottonside */

#socialmedia {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.social {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    margin: 5px;
    padding-top: 7px;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.social:hover {
    background-color: #05172d;
    color: #daeaf6;
}
.social img {
    height: 45px;
}


.social h4 {
    margin: auto;
}

#bottonheader {
    display: flex;
    margin-bottom: 40px;
}

#bottonheader h3 {
    margin: auto;
}

#formcontainer {
    display: flex;
}

#formcontainer form{
    margin: 50px auto;
    background: #124e96;
    color: #daeaf6;
    padding: 20px;
    border-radius: 5px;
}

#formcontainer form input, textarea {
    margin-top: 5px;
    background-color: #daeaf6;
    border: 1px solid #daeaf6;
    padding: 3px 5px;
    border-radius: 5px;
    color: #05172d;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#formcontainer form input {
    width: 96%;
    height: 25px;
}

#formcontainer form textarea {
    padding: 3px 5px;
}

#formcontainer form .header {
    margin: 0 auto 20px auto;
}

#formcontainer form .nome, .email, .mensagem {
    margin: 10px 0;
}

#formcontainer form .bot {
    display: flex;
}

#formcontainer .bot a {
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#formcontainer form #botcontainer {
    display: flex;
    background-color: #ff008e;
    padding: 10px 15px;
    border-radius: 5px;
}

/* responsividade da pagina */

@media screen and (max-width: 1005px) {
    .mainblock {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .mainblock {
        grid-template-columns: 1fr;
        grid-template-rows: 500px auto 1fr;
    }

    #rightside {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
    }

    #rightside #local{
        margin: auto;
    }

    #bottonside {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #bottonheader {
        margin: 40px;
    }
}