/* estilos generalistas da página */

body{
    background-image: url(../img/background.jpg);
    background-color: rgb(0, 238, 255,0.2);
}

body, body a {
    text-decoration: none;
    color: #daeaf6;
}

#mainblock {
    height: 90vh;
    display: flex;
}

/* container do formulario */

#formcontainer {
    display: flex;
    margin: auto;
   
}

/* estilos formulario */

#formcontainer form{
    margin: 50px auto;
    background: #124e96;
    color: #daeaf6;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 250px;
}

/* campos do formulario */

.email, .passworld {
    margin-bottom: 20px;
}

.bot {
    margin-top: 30px;
}

/* estilos dos campos do formulario */

#formcontainer form input, textarea {
    margin-top: 5px;
    background-color: #daeaf6;
    border: 1px solid #daeaf6;
    padding: 3px 5px;
    border-radius: 5px;
    color: #05172d;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#formcontainer form input {
    width: 96%;
    height: 25px;
}

#formcontainer form textarea {
    padding: 3px 5px;
} 

#formcontainer form .header {
    margin: 0 auto 20px auto;
}

#formcontainer form .nome, .passworld, .mensagem {
    margin: 10px 0;
}

#formcontainer form .bot {
    display: flex;
}

#formcontainer .bot a {
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#formcontainer form #botcontainer {
    display: flex;
    background-color: #ff008e;
    padding: 10px 15px;
    border-radius: 5px;
}

footer{
    position: fixed;
    bottom: 0;
}

/* responsividade do formulario do container */

@media screen and (max-width: 375px) {
    #formcontainer form{
        width: 100%;
        border-radius: 0;
    }
}