/* ----Definição e organização do background---- */


*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: url(../img/logo_12002.jpg) no-repeat top center fixed;
    background-color: #bebebe;
    background-attachment: scroll;
}


/*----aplicação da responsividade no background----*/


@media(max-width:647px){
    body{
        background: url(../img/logo_100-599px.jpg) no-repeat top center fixed;
        background-color: #ffdcd3;
        background-attachment: scroll;       
    } 
}
@media(min-width:1900px){
    body{
        background-size: 100vw 35vw;
        background-color: #ffdcd3;
        background-attachment: scroll;
    }
}
@media(min-width:1950px){
    body{
        background-size: 100vw 33vw;
        background-color: #ffdcd3;
        background-attachment: scroll;
    }
}

/* ----Definição da fonte usada---- */


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/Open-Sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/*---- Criação do menu superior ----*/


.himg{
    margin: 0 auto;
}

.menu_principal{
    width:100vw;
    background-color: #ff5225;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 50px;
}

.menu_principal ul{
    list-style: none;
    position: relative;
    justify-content: flex-start;
}

.menu_principal ul li{
    width: 150px;
    float: left;
}
.menu_principal #home{
    padding: 0px;
}
.menu_principal #home:hover{
    background-color: #ff5225;
}
.menu_principal a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #ff5225;
    color: white;
}


.menu_principal a:hover{
    background-color: aliceblue;
    color: black;
    font-weight: 700;
}

.menu_principal ul ul{
    position: absolute;
    visibility: hidden;
}

.menu_principal ul li:hover ul{
    visibility: visible;
}
@media(max-width:800px){
    .menu_principal ul li:hover ul{
        visibility: hidden;
    } 
    .menu_principal ul li:active ul{
        visibility: visible;
    }
}

.menu_principal ul ul li{
    float: none;
    border-bottom: 2px solid white;
}

.menu_principal ul ul li:last-child a{
    background-color: #6BB30A;
}

.menu_principal ul ul li:last-child a:hover{
    background-color: #6BB30A;
    color: #DCFF00;
}

.menu_principal ul ul li a{
    background-color: #ff8566;
}

label[for="bt_menu"]{
    background-color: #ff5225;
    color: white;
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    width: 100vw;
    height: 50px;
    padding-left: 0;
    padding-top: 5px;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}


/*Aplicação da responsividade no menu superior*/


@media(max-width:647px){
    label[for="bt_menu"]{
        display: block;
    }

    #bt_menu:checked ~ .menu_principal{
        margin-left: 0;
    }

    .menu_principal{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
        width: 150px;        
    }

    .menu_principal ul li{
        width: 100%;
        float: none;
    }

    .menu_principal ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu_principal ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    .himg{
        display: none;
    }
}


/*----criação da caixa de pesquisa flutuante ----*/


.caixa_maior{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    grid-template-rows: 1fr 1fr 2fr;
    grid-column-gap: 5px;
    grid-template-areas:
    "tetobox tetobox tetobox"
    "opcoes1 opcoes2 fas"
    "caixa_pesquisa caixa_pesquisa fas";
    margin: 0 auto;
    width: 500px;
    height: 150px;
    margin-top: 230px;
    background-color: rgba(34, 34, 34, 0.75);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 133, 102, 0.5);
    
}
.caixa_pesquisa{
    grid-area: caixa_pesquisa;
}
.caixa_pesquisa input{
    margin: 10px;
    padding: 2px;
    border-radius: 2px;
    width: 85%;
}

.caixa_teto{
    grid-area: tetobox;
    color: white;
}
.caixa_form{
    display: flex;
    grid-area: opcoes1;
    background: url(img/down.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 175px;
    border-radius: 2px;
    background-color: #ff8566;
    color: white;
    margin: 10% auto 0 13.5%;    
}

.caixa_teto h2{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
.caixa_form-2{
    display: flex;
    grid-area: opcoes2;
    background: url(img/down.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 175px;
    border-radius: 2px;
    background-color: #ff8566;
    color: white;
    margin: 10% 13% 0 auto;    
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    border: none;
    height: 29px;
    padding: 5px;
    font-size: 14px;
    transition: background 0.5s;
 }
select:hover{
    background-color: #ff5225;
    font-weight: 700;
    color: black;
}


.caixa_maior .fal{
    grid-area: fas;
    background-color: white;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    margin: 42% 0;
    transition: background 0.5s, transform 0.5s;
    animation-name: fal;
    font-size: 20px;
}
.fal:hover{
    background: #DCFF00;
    transform: scale(1.2);
}
.fal:active{
    background: #ff5225;
}
.fal .fas{
    text-decoration: none;
    color: black;
    padding: 11px 0px;
}


/*----responsividade da caixa de pesquisa flutuante ----*/



@media(max-width:647px){
   .caixa_maior{
        grid-template-columns: 150px 150px;
        grid-auto-rows: 1fr 1fr 1fr 1fr;
        width: 300px;
        margin-top: 150px;
   }
   .caixa_teto{
       margin: 10px auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
   }   
   .caixa_teto h2{
        font-size:20px;       
   }
   .caixa_form{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 120px;
        margin: 5% 0 auto 15%;
   }
   .caixa_form-2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 120px;
        margin: 5% 0 auto 5%;
   }
   .caixa_maior a{
        margin: 0 0;
        grid-column-start: 1;
        grid-column-end: 3;
   }
   .caixa_maior a i{
       margin: 0 auto;
   }
}

/*----Area de navegação com ofertas----*/


/*--Container principal--*/

section{
    display: grid;
    background-color: azure;
    width: 1000px;
    height: 1100px;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
    margin-top: 300px;
    margin-bottom: 25px;
}

@media(max-width:1000px){
    section{
        width: 790px;
        height: auto;
    }    
}

@media(max-width:800px){
    section{
    width: 100vw;
    height: auto;
    }
}

/*Containers dos imóveis*/

.sp:hover{
    box-shadow: none;
}

.ultimo:hover{
    box-shadow: none;
}

section div{
    width: 94%;
    height:95%;
    transition: box-shadow 0.3s;
}

section div:hover{
    box-shadow: 1px 1px 5px #ff5225;
}

@media(max-width:1000px){
    section div{
        height: 201px;
    }
}

section div img{
    width: 232px;
    height: 201.88px;     
}

section div h1{
    padding: 10px;
}

section div h3{
    padding-left: 10px;
    font-weight: 500;
}

section div a{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 17px;
    background-color: #DCFF00;
    font-weight: 700;
    text-decoration: none;
    text-align: end;
    align-self: stretch;
    color: black;
    transition: background .3s;

}

section div a:visited{
    color: black;
}

section div a:hover{
    background-color: #ff5225;
    color: white;
}

.imovel1{
    grid-area: casa1;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel1 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel2{
    grid-area: ap1;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel2 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel3{
    grid-area: casa2;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel3 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel4{
    grid-area: ap2;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel4 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel5{
    grid-area: casa3;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel5 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel6{
    grid-area: ap3;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel6 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel7{
    grid-area: casa4;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel7 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.imovel8{
    grid-area: ap4;
    justify-self: center;
    box-shadow: 1px 1px 5px  #888888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.imovel8 img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;   
}


.ultimo{
    grid-area: ultimo;
}

#imoveis{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100px auto auto auto auto 100px;
    grid-template-areas:
    "sp sp"
    "casa1 ap1"
    "casa2 ap2"
    "casa3 ap3"
    "casa4 ap4"
    "ultimo ultimo";
    grid-gap: 10px;
    align-items: center;
}


/*Aplicação de responsividade nos containers dos imoveis*/


@media(max-width:450px){
    section div img{
        width: 100%;
        height: 65%;}
}

@media(max-width:800px){
    #imoveis{
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto auto auto auto auto auto auto 100px;
        grid-template-areas:
        "sp"
        "casa1"
        "ap1"
        "casa2"
        "ap2"
        "casa3"
        "ap3"
        "casa4"
        "ap4"
        "ultimo";}

    section{
        margin-top: 300px;
    }

    section div{
        width: 600px;
        height: auto;
    }
}

@media(max-width:800px){
   section div img{
        width: 100%;
        height: 226.813px;
    }
}

@media(max-width:647px){
    section{
        margin-top: 250px;
    }

    section div{
        width: 95%;
    }    
}

@media(max-width:450px){
    #imoveis{
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto auto auto auto 100px;
        grid-template-areas:
        "sp"
        "casa1"
        "ap1"
        "casa2"
        "ap2"
        "casa3"
        "ultimo";
    }

    .imovel6{
        display: none;
    }

    .imovel7{
        display: none;
    }

    .imovel8{
        display: none;
    }
}

/*----Footer----*/

footer{
    width: 100vw;
    height: 100px;
    background-color: #ff5225;
    display: grid;
    text-align: center;
    align-items: end;
}
footer h4{    
    margin-bottom: 15px;
    color: white;
}