/* estilos generalistas do website */

*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: DancingScript;
    src:  local('DancingScript'), url(../font/DancingScript-Regular.ttf);      
}

@font-face {
    font-family: RobotoCondensed;
    src:  local('RobotoCondensed'), url(../font/RobotoCondensed-Regular.ttf);      
}

body{
    font-family: RobotoCondensed;
    background: url(../img/background.jpg ) no-repeat top center #2D4059;
    background-attachment: scroll;
    animation-name: branco;
    animation-duration: 2s;
}

/* animacao de entrada */


@keyframes branco{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* menu superior */

#headerbar{
    display: flex;
    width:100%;
    background-color: #124e96;
}

#headerarea{
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-rows: auto;
    flex-direction: row;
    margin: auto;
    width: 1000px;
}

#logo {
    grid-column: 1 / 2;
    width: 200px;
    display: flex;
}

#logo img {
    margin: auto 0 auto 10px;
    height: 30px;
}

#logo h2 {
    color: #daeaf6;
    font-family: DancingScript;
    margin: auto auto auto 10px;
}

#headerlinks{
    display: flex;
    justify-content: flex-end;
    grid-column: 2 / 3;
}

.headerlink {
    margin: auto 1px;
    height: 40px;
    display: flex;
    background-color: #09274b;
    transition: all 0.5s;
}

.headerlink:hover {
    background-color: #ff008e;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 75%);
}

.headerlink a {
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
}

.headerlink a div{
    text-align: center;
    width: 100px;
    margin: auto;
}

/* responsividade da barra de navegacao */

@media screen and (max-width: 350px) {
    .headerlink a div {
        width: 70px;
    }
}

@media screen and (max-width:500px) {
    #headerarea{
        grid-template-columns: 1fr 330px;
    }
    #headerlinks{
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        display: none;
    }

    #headerlinks {
        grid-column: 1 / 3;
    }
}

@media (max-width: 900px) {
    #headerbar{
        justify-content: center;
    }
    .headerlink:last-child {
        margin-right: 5px;
    }

    .headerlink a div{
        width: 80px;
    }
}

/* estilos da caixa de pesquisa */

#search_area{
    width: 100%;
    height: 600px;
    display: flex;
}

.caixa_maior{
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    grid-template-rows: 65px 1fr 2.3fr;
    grid-column-gap: 5px;
    grid-template-areas:
    "tetobox tetobox tetobox"
    "opcoes1 opcoes2 search_btn"
    "caixa_pesquisa caixa_pesquisa search_btn";
    width: 500px;
    height: 150px;
    background-color: rgba(18,78,150, 0.75);
    border-radius: 3px;
    
}
.caixa_pesquisa{
    grid-area: caixa_pesquisa;
    margin-top: 10px;
}
.caixa_pesquisa input{
    padding: 2px;
    width: 357px;
}

.caixa_teto{
    grid-area: tetobox;
    align-self: center;
    color: white;
}
.caixa_teto h2 {
    font-family: DancingScript;
    font-weight: normal;
}

.optionbox {
    align-self: center;
}

#op1{
    justify-self: end;
    margin-right: 5px;
}

#op2{
    justify-self: start;
    margin-left: 5px;
}

.caixa_form{
    display: flex;
    grid-area: opcoes1;
    background: url(../img/down.png) no-repeat 95% 0;
    align-self: center;
    height: 30px;
    overflow: hidden;
    width: 175px;
    border-radius: 2px;
    background-color: #ff008e;
    color: #daeaf6;
    font-weight: 600;
    cursor: pointer;
}

.caixa_form-2{
    display: flex;
    grid-area: opcoes2;
    background: url(../img/down.png) no-repeat 95% 0;
    height: 30px;
    overflow: hidden;
    width: 175px;
    border-radius: 2px;
    background-color: #ff008e;
    color: #daeaf6;
    font-weight: 600;
    cursor: pointer;
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    border: none;
    height: 29px;
    padding: 5px;
    font-size: 14px;
    transition: background 0.5s;
 }

.caixa_maior .fal{
    display: flex;
    grid-area: search_btn;
    margin-top: 8px;
    background-color: white;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

.fal a {
    width: 100%;
    height: 70%;
    padding-top: 30%;
}

.fal .fas{
    text-decoration: none;
    color: black;
}
.caixa_maior .fal span{
    visibility: hidden;
}

/* responsividade da caixa de pesquisa flutuante */


@media(max-width:600px){
    .caixa_maior{
        width: 300px;
        height: 190px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "tetobox tetobox"
        "opcoes1 opcoes2"
        "caixa_pesquisa caixa_pesquisa"
        "search_btn search_btn";
    }
  
    .caixa_teto h2{
        font-size:20px;       
    }
    .caixa_form{
        width: 122px;
    }
    .caixa_form-2{
        width: 120px;
    }
    .caixa_pesquisa input{
        width: 248px;
    }
    .caixa_maior .fal{
        height: 30px;
        width: 120px;
        justify-self: center;
        align-self: start;
        margin: 0;
    }
    .fal a {
        padding-top: 5%;
    }
}

/* Area de navegação com ofertas */

#imoveis {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin: 0 auto 110px auto ;
    padding: 18px 0;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(218,234,246,0.9), #2D4059);
}

/* responsividade da area de navegação com ofertas */

@media(max-width: 1010px) {
    #imoveis {
        width: 100%;
        border-radius: 0;
        margin: 0 auto 110px auto ;
    }
}

/* estilo dos cards */

.imovel {
    width: 300px;
    height: 400px;
    background-color: #124e96;
    display: grid;
    grid-template-columns: 180px 120px;
    grid-template-rows: 225px 40px 1fr 50px;
    margin: 10px;
    color: #daeaf6;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.imovel img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imovel .imovelheader {
    align-self: center;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#05172d;
    color: #daeaf6;
    display: flex;
}

.imovel .imovelheader h3 {
    margin: auto 0 auto 20px;
}

.imovel p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
    margin: 0 20px;
}

.imovel h2 {
    margin-left: 20px;
    align-self: center;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.imovel h2 i {
    color: #FFD700;
}

.imovel .imovellink {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #09274b;
    width: 120px;
    height: 50px;
    transition: all .3s;
}

.imovel .imovellink:hover {
    clip-path: polygon(13% 1%, 100% 0, 100% 100%, 0 100%, 0% 38%);
    background-color: #ff008e;
}


.imovel a {
    display: flex;
    text-decoration: none;
    color: #daeaf6;
    width: 100%;
    height: 100%;
}

.imovel a div{
    margin: auto;
}

/* area do footer */

footer{
    width: 100%;
    height: 45px;
    background-color: #124e96;
    display: flex;
    bottom: 0;
}
footer span{    
    margin: auto;
    color: #daeaf6;
    font-size: 15px;
}